<div *ngIf="userFormgroup">
    <ul class="flex space-x-2 rtl:space-x-reverse">
        <li>
            <a href="javascript:;" class="text-primary hover:underline">Forms</a>
        </li>
        <li class="before:content-['/'] ltr:before:mr-2 rtl:before:ml-2">
            <span>Layouts</span>
        </li>
    </ul>
    <div class="grid   gap-6 pt-5 flex items-center justify-center">
        <!-- Stack -->
        <div class="panel">
            <div class="mb-5 flex items-center justify-between">
                <h5 class="text-lg font-semibold dark:text-white-light">New User</h5>
                <a class="font-semibold hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-600" href="javascript:;" (click)="toggleCode('code1')">
                    <span class="flex items-center">

                    </span>
                </a>
            </div>
            <div class="mb-5">
                <form [formGroup]="userFormgroup"  class="space-y-5">
                    <div>
                        <input type="text" placeholder="Enter username" class="form-input" formControlName="username" />
                        <span class="mt-1 inline-block text-[11px] text-white-dark">We'll never share your email with anyone else.</span>
                    </div>
                    <div>
                        <input type="text" placeholder="Enter displayName" class="form-input" formControlName="displayName" />
                    </div>
                    <div>
                        <input type="text" placeholder="Enter role" class="form-input" formControlName="role"/>
                    </div>
                    <div>
<!--                        <label class="mt-1 inline-flex cursor-pointer items-center">-->
<!--                            <input type="checkbox" class="form-checkbox" />-->
<!--                            <span class="text-white-dark">Subscribe to weekly newsletter</span>-->
<!--                        </label>-->
                    </div>
                    <button (click)="onSaveUser()" type="submit" class="btn btn-primary !mt-6">Submit</button>
                </form>
            </div>

        </div>

    </div>
</div>
